<a href="https://colab.research.google.com/github/michaelb3245/DSRP--MichaelBriglall/blob/main/Gallstone_Dataset_Michael_Briglall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
path = "/content/drive/MyDrive/Gallstone Dataset - Michael Briglall/dataset-uci (3).csv"
df = pd.read_csv(path)
df.head(5)

,Unnamed: 0,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
0,1,0,50,0,0,0,0,0,0,185,...,40.0,134.0,20.0,22.0,87.0,0.82,112.47,0.0,16.0,33.0
1,2,0,47,0,1,0,0,0,0,176,...,43.0,103.0,14.0,13.0,46.0,0.87,107.10,0.0,14.4,25.0
2,3,0,61,0,0,0,0,0,0,171,...,43.0,69.0,18.0,14.0,66.0,1.25,65.51,0.0,16.2,30.2
3,4,0,41,0,0,0,0,0,0,168,...,59.0,53.0,20.0,12.0,34.0,1.02,94.10,0.0,15.4,35.4
4,5,0,42,0,0,0,0,0,0,178,...,30.0,326.0,27.0,54.0,71.0,0.82,112.47,0.0,16.8,40.6

In [6]:
df["Gender"].value_counts()

Gender
0    162
1    157
Name: count, dtype: int64

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Gallstone Status, Age, Gender, Comorbidity, Coronary Artery Disease (CAD), Hypothyroidism, Hyperlipidemia, Diabetes Mellitus (DM), Height, Weight, Body Mass Index (BMI), Total Body Water (TBW), Extracellular Water (ECW), Intracellular Water (ICW), Extracellular Fluid/Total Body Water (ECF/TBW), Total Body Fat Ratio (TBFR) (%), Lean Mass (LM) (%), Body Protein Content (Protein) (%), Visceral Fat Rating (VFR), Bone Mass (BM), Muscle Mass (MM), Obesity (%), Total Fat Content (TFC), Visceral Fat Area (VFA), Visceral Muscle Area (VMA) (Kg), Hepatic Fat Accumulation (HFA), Glucose, Total Cholesterol (TC), Low Density Lipoprotein (LDL), High Density Lipoprotein (HDL), Triglyceride, Aspartat Aminotransferaz (AST), Alanin Aminotransferaz (ALT), Alkaline Phosphatase (ALP), Creatinine, Glomerular Filtration Rate (GFR), C-Reactive Protein (CRP), Hemoglobin (HGB), Vitamin D]
Index: []

[0 rows x 40 columns]

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.dtypes

Unnamed: 0                                          int64
Gallstone Status                                    int64
Age                                                 int64
Gender                                              int64
Comorbidity                                         int64
Coronary Artery Disease (CAD)                       int64
Hypothyroidism                                      int64
Hyperlipidemia                                      int64
Diabetes Mellitus (DM)                              int64
Height                                              int64
Weight                                            float64
Body Mass Index (BMI)                             float64
Total Body Water (TBW)                            float64
Extracellular Water (ECW)                         float64
Intracellular Water (ICW)                         float64
Extracellular Fluid/Total Body Water (ECF/TBW)    float64
Total Body Fat Ratio (TBFR) (%)                   float64
Lean Mass (LM) (%)                                float64
Body Protein Content (Protein) (%)                float64
Visceral Fat Rating (VFR)                           int64
Bone Mass (BM)                                    float64
Muscle Mass (MM)                                  float64
Obesity (%)                                       float64
Total Fat Content (TFC)                           float64
Visceral Fat Area (VFA)                           float64
Visceral Muscle Area (VMA) (Kg)                   float64
Hepatic Fat Accumulation (HFA)                      int64
Glucose                                           float64
Total Cholesterol (TC)                            float64
Low Density Lipoprotein (LDL)                     float64
High Density Lipoprotein (HDL)                    float64
Triglyceride                                      float64
Aspartat Aminotransferaz (AST)                    float64
Alanin Aminotransferaz (ALT)                      float64
Alkaline Phosphatase (ALP)                        float64
Creatinine                                        float64
Glomerular Filtration Rate (GFR)                  float64
C-Reactive Protein (CRP)                          float64
Hemoglobin (HGB)                                  float64
Vitamin D                                         float64
dtype: object

In [10]:
df.info

<bound method DataFrame.info of      Unnamed: 0  Gallstone Status  Age  Gender  Comorbidity  \
0             1                 0   50       0            0
1             2                 0   47       0            1
2             3                 0   61       0            0
3             4                 0   41       0            0
4             5                 0   42       0            0
..          ...               ...  ...     ...          ...
314         315                 1   49       0            0
315         316                 1   31       1            0
316         317                 1   58       0            0
317         318                 1   37       1            0
318         319                 1   60       1            0

     Coronary Artery Disease (CAD)  Hypothyroidism  Hyperlipidemia  \
0                                0               0               0
1                                0               0               0
2                                0               0               0
3                                0               0               0
4                                0               0               0
..                             ...             ...             ...
314                              0               0               0
315                              0               0               0
316                              0               0               0
317                              0               0               0
318                              0               0               0

     Diabetes Mellitus (DM)  Height  ...  High Density Lipoprotein (HDL)  \
0                         0     185  ...                            40.0
1                         0     176  ...                            43.0
2                         0     171  ...                            43.0
3                         0     168  ...                            59.0
4                         0     178  ...                            30.0
..                      ...     ...  ...                             ...
314                       0     178  ...                            55.0
315                       0     157  ...                            58.0
316                       0     172  ...                            45.0
317                       0     177  ...                            33.0
318                       0     154  ...                           273.0

     Triglyceride  Aspartat Aminotransferaz (AST)  \
0           134.0                            20.0
1           103.0                            14.0
2            69.0                            18.0
3            53.0                            20.0
4           326.0                            27.0
..            ...                             ...
314          81.0                            28.0
315          64.0                            24.0
316         168.0                            21.0
317         253.0                            40.0
318          19.0                            25.0

     Alanin Aminotransferaz (ALT)  Alkaline Phosphatase (ALP)  Creatinine  \
0                            22.0                        87.0        0.82
1                            13.0                        46.0        0.87
2                            14.0                        66.0        1.25
3                            12.0                        34.0        1.02
4                            54.0                        71.0        0.82
..                            ...                         ...         ...
314                          50.0                        90.0        0.98
315                          16.0                        38.0        0.50
316                          27.0                        94.0        1.04
317                          22.0                       115.0        1.01
318                          73.0                        73.0        0.85

     Glomerular Filtration Rate (GFR)  C-Reactive Protein (CRP)  \
0                              112.47                       0.0
1                              107.10                       0.0
2                               65.51                       0.0
3                               94.10                       0.0
4                              112.47                       0.0
..                                ...                       ...
314                             94.50                       6.2
315                            128.50                       0.0
316                             83.23                       0.0
317                             98.23                       0.4
318                             73.00                       0.0

     Hemoglobin (HGB)  Vitamin D
0                16.0       33.0
1                14.4       25.0
2                16.2       30.2
3                15.4       35.4
4                16.8       40.6
..                ...        ...
314              16.5        8.3
315              12.5       24.0
316              15.4       15.7
317              16.0       33.3
318              13.6       29.0

[319 rows x 40 columns]>

In [16]:
categorical_columns = ['Gallstone Status', 'Gender', 'Comorbidity', 'Coronary Artery Disease (CAD)',
                       'Hypothyroidism', 'Hyperlipidemia', 'Diabetes Mellitus (DM)',
                       'Visceral Fat Rating (VFR)', 'Hepatic Fat Accumulation (HFA)']

In [17]:
category_mappings = {
    'Gallstone Status': {0: 'No Gallstones', 1: 'Gallstones'},
    'Gender': {0: 'Female', 1: 'Male'},
    'Comorbidity': {0: 'No Comorbidity', 1: 'Comorbidity'},
    'Coronary Artery Disease (CAD)': {0: 'No CAD', 1: 'CAD'},
    'Hypothyroidism': {0: 'No Hypothyroidism', 1: 'Hypothyroidism'},
    'Hyperlipidemia': {0: 'No Hyperlipidemia', 1: 'Hyperlipidemia'},
    'Diabetes Mellitus (DM)': {0: 'No DM', 1: 'DM'},
    'Hepatic Fat Accumulation (HFA)': {0: 'Normal', 1: 'Mild', 2: 'Moderate', 3: 'Severe'}
}

In [18]:
df.head()

,Unnamed: 0,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
0,1,No Gallstones,50,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,185,...,40.0,134.0,20.0,22.0,87.0,0.82,112.47,0.0,16.0,33.0
1,2,No Gallstones,47,Female,Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,176,...,43.0,103.0,14.0,13.0,46.0,0.87,107.10,0.0,14.4,25.0
2,3,No Gallstones,61,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,171,...,43.0,69.0,18.0,14.0,66.0,1.25,65.51,0.0,16.2,30.2
3,4,No Gallstones,41,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,168,...,59.0,53.0,20.0,12.0,34.0,1.02,94.10,0.0,15.4,35.4
4,5,No Gallstones,42,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,178,...,30.0,326.0,27.0,54.0,71.0,0.82,112.47,0.0,16.8,40.6

In [19]:
if 'Unnamed: 0' in df.columns:
    df = df.drop(columns=['Unnamed: 0'])
    print("Dropped 'Unnamed: 0' column.\n")

Dropped 'Unnamed: 0' column.

In [20]:
df.head()

,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,Weight,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
0,No Gallstones,50,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,185,92.8,...,40.0,134.0,20.0,22.0,87.0,0.82,112.47,0.0,16.0,33.0
1,No Gallstones,47,Female,Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,176,94.5,...,43.0,103.0,14.0,13.0,46.0,0.87,107.10,0.0,14.4,25.0
2,No Gallstones,61,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,171,91.1,...,43.0,69.0,18.0,14.0,66.0,1.25,65.51,0.0,16.2,30.2
3,No Gallstones,41,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,168,67.7,...,59.0,53.0,20.0,12.0,34.0,1.02,94.10,0.0,15.4,35.4
4,No Gallstones,42,Female,No Comorbidity,No CAD,No Hypothyroidism,No Hyperlipidemia,No DM,178,89.6,...,30.0,326.0,27.0,54.0,71.0,0.82,112.47,0.0,16.8,40.6

In [21]:
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")
if duplicate_rows > 0:
    df.drop_duplicates(inplace=True)
    print("Duplicate rows removed.")
    print(f"Number of duplicate rows after removal: {df.duplicated().sum()}")

Number of duplicate rows: 0

1. Check for duplicate rows.
2. Verify Data types and Encoding.
3. Identify Outliers.
4. Scale or Normalize continuous features.
5. Feature Consistency Check: Look for low varience features, look at correlation, assess feature redundancy.
6.Target/Label is having correct values (0/1)
7. Ensure all your numerical features are having consistent units (cholesterol in mg/dL, GFR mL)
8. Units/ranges documentation.
9. Maintain clarity and reproductibility.
10. Crosscheck against dataset documentation.